name: Keep Streamlit Alive

on:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping app
        run: curl -s https://magnitorammed.streamlit.app/ > /dev/null


